<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<meta name="description" content="C3PO">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="icon" type="image/png" href="/favicons/2025/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicons/2025/favicon.svg" />
<link rel="shortcut icon" href="/favicons/2025/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/2025/apple-touch-icon.png" />
<link rel="manifest" href="/favicons/2025/site.webmanifest" />

<!-- end custom head snippets -->
